docs/build
docs/_build/
docs/_autosummary/
docs/source/_generated/

docs/.doctrees/
docs/.buildinfo
docs/*.log

__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

.idea/
**/logs/*
!**/logs/placeholder.txt
temp*
!**/data/placeholder.txt

.DS_Store
Thumbs.db