docs/_build/
docs/_autosummary/
docs/_generated/

.doctrees/
.buildinfo

__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

.idea/
**/logs/*
!**/logs/placeholder.txt
temp*
!**/data/placeholder.txt

.DS_Store
Thumbs.db